@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Layout Sidebar";
}

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Fixed Sidebar <small> Just add class <strong>menu_fixed</strong></small></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->